@import "tailwindcss";

@theme {
  --color-primary: #002D44;
  --color-secondary: #0095E4;
  --color-tertiary: #001E2E;
  --color-quaternary: #001622;
  --color-background: #000F17;
  --color-border: #002D44;

  --font-family-sans: 'Inter', sans-serif;
}
